/* Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~assets/css/fonts';

/* Basics */
html {
	@apply h-full min-h-full;
}
.blend {
	mix-blend-mode: difference;
}

/* Index */
.main-nav-item {
	@apply text-3xl font-semibold underline;
}
.portfolio-item {
	@apply text-6xl font-semibold underline transition ease-in-out duration-300;
}
.portfolio-item:hover {
	@apply text-red-500
}

/* Portfolio */
.portfolio-title {
	@apply fixed blend font-mont font-black; 
	text-transform: uppercase;
	font-size: 33vw;
	line-height:0.585;
}
.metrics a {
	@apply underline;
}
.metric h3 {
	@apply mr-2
}
.metric {
	@apply flex;
}
.metric-links {
	@apply flex flex-col;
}
.hero-img {
	@apply object-cover;
	height: 60vh;
}